/*
 * Chart of colors used in stylesheet
 * ##################################
 * Purpose             | Color-code
 * ==================================
 * main-background     | #FFFAF5
 * header-of-site      | #FDB768
 * minor-decor         | #D37203
 * headers_01          | #884901
 * headers/text/footer | #2F1D09        
 */


 body {
    background-color: #FFFAF5;
    margin: 0;
 }

.content {
    max-width: 960px;
    min-height: 1000px;
    margin: auto;
    margin-bottom: 1rem;
    
}

 #head {
    margin: auto;
    padding: 0;
    border: 0;
    height: 125px;
    background-color: #FDB768;
 }

 #head img {
    height: 125px;
    width: auto;
    float: left;
 }

 #head h1 {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  #2F1D09;
 }

 #user-nav {
     float: right;

 }

 #user-nav ul {
     float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

 #user-nav li {
    display: block;
    float: right;
    min-width: 150px;
    padding: 16px;
    text-align: center;
    font-size: 20px;
    transition-property: background-color;
    transition-duration: 0.75s;
    transition-timing-function: linear;
    background-color: rgb(255, 200, 138);
}

#user-nav li a {
   text-decoration: none;
}

#user-nav li a:active, a:visited {
   color: #2F1D09;
}
#user-nav li:hover {
    background-color: #FFFAF5;
}

.navigation {
    background-color: #884901; 
    height: 40px;
    padding: 0;
}
.navigation ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
.navigation li {
   display: block;
   float: right;
   width: 100px;
   height: 30px;
   padding: 5px;
   text-align: center;
   font-size: 20px;
   background-color:#915818;
   transition-property: background-color;
   transition-duration: 0.75s;
   transition-timing-function: linear;
}

.navigation li:hover {
   background-color: #FFFAF5;
}

.navigation li a {
   text-decoration: none;
}

.navigation li a:active, a:visited {
   color: #2F1D09;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}


/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

#foot {
    background-color: #2F1D09;
    color: #FDB768;
    text-align: right;
    font-size: 17px;
    margin-top:-1rem;
    padding: 1rem;
}

.loginbtn {
    background-color: rgb(255, 200, 138);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;

}

.loginbtn:hover {
    background-color: rgb(250, 207, 158);
}

.registerbtn {
    background-color: rgb(255, 200, 138);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.search-results table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.search-results th {
    border: 1px solid #dddddd;
    background-color: #884901;
    text-align: left;
    padding: 8px;
}
.search-results td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.search-results tr:nth-child(even) {
    background-color: #d8d3ce;
}

.book {
    padding: 15px;
}

.book table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    float: left;
    margin: 15px;
}
.book th {
    border: 1px solid #dddddd;
    background-color: #FDB768;
    text-align: left;
    padding: 8px;
}
.book td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.book tr:nth-child(even) {
    background-color: #d8d3ce;
}

.book img {
    width: 30%;
    margin: 15px;
    float: left;

}

.author {
    padding: 15px;
}

.author img {
    width: 30%;
    float: left;
    margin: 15px;
}

.author table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    float: left;
    margin: 15px;
}
.author th {
    border: 1px solid #dddddd;
    background-color: rgb(253, 183, 104);
    text-align: left;
    padding: 8px;
}
.author td {
    border: 1px solid #dddddd;
    text-align: left;
    background-color: rgb(255, 250, 245);
    padding: 8px;
}

    



.dropbtn {
    background-color: #4CAF50;
    color: white;
    min-width: 160px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFAF5;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.article-short {
    margin: 15px;
    padding: 10px;
    background-color: rgb(253, 224, 196);
}

.article-head {
    margin: 20px;
}

.article-head h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-head i, small {
    float: right;

}

.article-body {
    padding: 10px;
    background-color: rgb(250, 238, 227);
}

.article {
    background-color: rgb(253, 224, 196);
    margin: 15px;
    padding: 10px;
}


.comment-box {
    margin: 30px;
    padding: 10px;
}

.comment-box label {
    padding: 10px;
    
}

.comment {
    margin: 15px;
}

.comment ul{
    background-color: #FDB768;
    list-style: none;
    margin-bottom: 0;
}

.comment li {
    display: block;
    padding: 5px;

}

.comment p {
    padding: 15px;
    margin-top: 0;
    background-color: rgb(255, 199, 136);

}


/* CSS for admin */

#admin-body {
    min-height: 1000px;
    margin: auto;
    margin-bottom: 1rem;
}

#admin-nav  li{
    min-width: 200px;
}

#admin-body form {
    max-width: 900px;
    margin: 30px;
}

